.links{
    background-color: red;
    padding: 20px;
    margin-left: 8px;
    
}
.links:hover{
    background-color: purple;
}
#navbox{
    background-color: green;
    display: flex;
    justify-content: space-around;
}
#body12 {
    
    display: grid;
    grid-template: auto 1fr/minmax(150px, 25%) auto;
    height:50vh;
}