body{
    display: grid;
    place-content: center;
    height: 95vh;
}

#title{
    text-align: center;
    padding: 8px;
    margin: auto;
    width: 50%;
}
#paragraph1{
    
}
#web{
    text-align: center;
}